@font-face {
    font-family: Bravura;
    src: url(../fonts/Bravura.eot) format(eot),
         url(../fonts/Bravura.woff2) format(woff2),
         url(../fonts/Bravura.woff) format(woff),
         url(../fonts/Bravura.otf) format(otf),
         url(../fonts/Bravura.svg) format(svg);
}

@font-face {
    font-family: BravuraText;
    src: url(../fonts/BravuraText.eot) format(eot),
         url(../fonts/BravuraText.woff) format(woff),
         url(../fonts/BravuraText.otf) format(otf),
         url(../fonts/BravuraText.svg) format(svg);
}

body {
  background-color: #F5F8FA;
  font-family: BravuraText, sans-serif;
}

h1 {

}

h2 {
}

.tech-icon {
  width: 100px;
  margin-right: 20px;
  margin-top: 30px;
}

.tech-icon-wide, .babel-icon {
  height: 90px;
  margin-top: 30px;
}

p {
  margin: 30px;
  font-size: 16px;
}

.navbar-default {
  background-color: #2882b5;
  border-radius: 0;
  margin: 0;
  border: none;
  border-color: #1c73a5;
  border-width: 0 0 1px;
  border-style: solid;
  height: 40px;
  min-height: 40px;
  padding-top: 10px;
  color: #EEE;
}

.navbar-default a {
  font-weight: bold;
  color: white;
}

.file-menu {
  margin: 10px;
}

.part {
  margin: 0;
}

.instrument {
  margin-left: 20px;
  font-weight: 400;
}

.measure {
}

.note {
  margin: 1px;
}
